* {
  /*border: solid 2px;*/
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

body {
  border: none;
  height: 100%;
}

header {
  background-color: #CBCCD0;
  height: 200px;
  display: grid;
  grid-template-rows: 60px 100px 40px;
}

main {
  background-color: #766A7F;
  top: 200px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  border-top: solid 2px #3D2F49;
}

header, main {
  width: auto;
  margin-left: 150px;
}

section {
  /*background-color: #433350;*/
  margin: 10px;
}

article {
  height: 100%;
  display: inline-block;
}

li {
  grid-column-start: 2;
  list-style: none;
  color: #9799A2;
  font-size: 10px;
}

i {
  margin: auto;
}

h1 {
  margin-top: 30px;
  margin-bottom: 5px;
}

h2 {
  color: #DDB041;
}

h3 {
  color: #DDB041;
  font-family: 'Rubik', serif;
  font-size: 10px;
}

h4 {
  margin-bottom: 20px;
}

h5 {
  margin-left: 2px;
}

p {
  color: #3E42A4;
}

#main-nav {
  background-color: #414456;
  height: 100vh;
  width: 150px;
  margin-right: auto;
  position: fixed;
  top: 0;
  bottom:0;
  overflow-y:scroll;
  overflow-x:hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 18px;
}

.user-profile-snapshot {
  height: 150px;
  border-bottom: solid 2px #2A2C37;
  box-shadow: 0 2px 1px -1px #64656D;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

#valor {
  border-radius: 50%;
  border: solid 1px #2A2C37;
  display: block;
  width: 75px;
  height: 75px;
}

.user-name {
  text-align: center;
}

.user-name:hover {
  text-align: center;
  color: #E9CC86;
}

.fa-angle-down {
  margin-left: 5px;
}

.main-nav-menu{
  display: grid;
  grid-template-columns: 30px 120px;
  grid-template-rows: repeat(6, 16.6667%);
  border-bottom: solid 2px #2A2C37;
  box-shadow: 0 2px 1px -1px #64656D;
  padding: 10px 0 20px 10px;
}

.nav-text{
  height: 30px;
  line-height: 30px;
}

.main-checkbox-menu {
  border: none;
  box-shadow: none;
}

.nav-section-link {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 30px 120px;
  height: 30px;
}

.nav-section-link:hover {
  color: white;
  background-color: #30323F;
  border-left: solid 2px #476DA3;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 30px 120px;
  margin-left: -10px;
  padding-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.nav-text:hover {
  color: white;
}

.nav-categories{
  margin-top: 15px;
  margin-left: 10px;
  margin: 15px 0 5px 10px;
  color: #64656C;
  font-size: 10px;
  grid-column: span 2;
}

.nav-icon:before {
  font-size: 16px;
  color: #9799A2;
}

.fa{
  color: white;
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 18px;
}

.colored-checkbox{

}

label {
	display: inline;
}

.regular-checkbox {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;
  display: none;
}

.regular-checkbox + label {
	border: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 8px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	border: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2613';
	font-size: 14px;
	position: absolute;
	top: -2px;
	left: 3px;
	color: black;
}

#orange-cb + label {
  background-color: #E09C1D;
}

#orange-cb:checked + label {
	background-color: #EBC06F;
}

#blue-cb + label {
  background-color: #2274A5;
}

#blue-cb:checked + label {
	background-color: #86B3CD;
}

#red-cb + label {
  background-color: #96031A;
}

#red-cb:checked + label {
	background-color: #C57582;
}

#green-cb + label {
  background-color: #3D7F40;
}

#green-cb:checked + label {
	background-color: #95B996;
}

#purple-cb + label {
  background-color: #533A71;
}

#purple-cb:checked + label {
	background-color: #A193B1;
}

label {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;
}

#sub-nav {

}

.user-search-nav {
  display: grid;
  grid-template-columns: 60px auto 60px 60px 60px;
  grid-template-rows: 60px;
}

.nav-search {
  border-color: #414456;
  border-top: none;
  border-left: none;
  border-bottom: solid 2px;
  border-right: solid 2px;
  background-color: #DDDEE1;
}

.last-search-button{
  border-right: none;
}

button.nav-search:hover {
  background-color: #414456;

}

.search-icon:before {
  color: #414456;
}

/*.search-icon:hover button.nav-search {
  color: #DDDEE1;
}*/

.search-site {
  overflow: hidden;
  display: table-cell;
  width: 100%;
  padding: 20px 15px 15px 15px;
  background-image: url()
}

.current-page {
  margin-left: 30px;
  display: flex;
  justify-content: flex-end;
}

.current-page-title {
  margin-right: auto;
}

.fa-map-marker {
  margin-left: 10px;
}

.outside-link {
  text-decoration: none;
  color: #6D4C96;
}

.view-stream {
  border-radius: 50px;
  border: none;
  height: 30px;
  margin-top: 40px;
  margin-right: 10px;
  color: white;
}

.live {
  border-radius: 100%;
  color: #31B238;
  background-color: #31B238;
  height: 10px;
  width: 10px;
  margin: auto;
  margin-right: 5px;
  display: inline-block;
  border:2px solid;
}

.current-page-icon {
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 40px 5px 0 5px;
}

.view-stream:hover, .current-page-icon:hover {
  background-color: #30323F;
}

.last-current-page-button {
  margin-right: 30px;
}

.section-nav {
  overflow: hidden;
  margin-top: auto;
  margin-left: 30px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
}

.section-nav a {
    float: left;
    display: block;
    color: #868893;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
}

.section-nav a:hover {
  border-bottom: solid 2px #414456;
  color: #414456;
}

.section-nav a.active {
  border-bottom: solid 2px #414456;
  color: #414456;
}


.data-display {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  margin-left: 30px;
}

.circle-charts {
  width: 54%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.donut-chart-button-flexbox {
  display: flex;
  flex-direction: row;
}

.donut-chart {
  /*display: inline-block;*/
  width: 31%;
}

.player-game-total {
  border-radius: 50px;
  border: none;
  height: 30px;
  padding: 0 10px;
  margin: auto;
  color: white;
}

.recent-data {
  width: 44%;
  display: flex;
  flex-direction: column;
}

.graph_stacked {
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, .25);
	height: 200px;
	margin: 0 0 15px 0;
	position: relative;
	white-space: nowrap;

	background: rgba(0, 0, 0, .1);
	font-size: 0;
}
.graph_stacked .col {
	display: inline-block;
	margin: 0 0 0 1px;
	height: 100%;
	vertical-align: bottom;
	position: relative;
	width: 50px;
}
.graph_stacked .col .bar {
	display: inline-block;
	vertical-align: bottom;
	width: 100%;
}
.graph_stacked .col .bar:first-child {
	height: 100%;
	margin: 0;
	width: 0;
}
.graph_stacked .col .bar .seg {
	display: block;

	background: #2be;
}
.graph_stacked .col .bar .seg.yel { background: #fc0; }
.graph_stacked .col .bar .seg.grn { background: #2e4; }

.section-divider{
  margin: 0 30px;
  /*height: 0;*/
  border: solid 1px #3D2F49;
  grid-row-start: 4;

}

.detailed-info {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 11;
  background-color: #433350;
  display: grid;
  grid-template-columns: 33% 67%;
  grid-template-rows: 60px 60px 60px 60px 60px 60px 120px 60px 60px;
  margin: 30px;
}

.detailed-info-category {
 background-color: #8E8596;
 display: block;
 line-height: 60px;
 padding-left: 30px;
 width: 100%;
 grid-column-start: 1;
 grid-column-end: 2;
 border-bottom: solid 1px #433350;
}

.detailed-info-characteristic {
 background-color: #8E8596;
 display: block;
 line-height: 60px;
 grid-column-start: 2;
 grid-column-end: 3;
 border-bottom: solid 1px #433350;

}

.champion-snapshot {
  width: 100%;
  height: 100%;
}

.change-champ {
  width: 150px;
  height: 25px;
  margin: auto 0 auto 0;
  padding-top: 0;
  margin-right: auto;
  background-color: #DDB041;
  color: #EFDBA8;
  border: none;
}

.change-champ:hover {
  background-color: #3E42A4;
}

.champion-info, .heading {
  background-color: #433350;
}

.champion-info {
  font-size: 12px;
}

.user-submit-inputs{
  /*background-color: #C8C3CC;*/
  margin-top: 30px;
  margin-right: 30px;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 11;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.social-media-buttons {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.button-img {
  height: 40px;
  width: 80px;
  margin-left: 10px;
}

.op-gg {
  background-color: #3B9FFF;
}

.mobafire {
  background-color: #0A1121;
}

.lol-king {
  background-color: #000000;
}

.user-submits {
  height: 200px;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.bottom-border{
  border-bottom: solid 1px #433350;
}

.url-copy, .copy-button {
  height: 40px;
  border: none;
  padding: 0;
}

.url-copy {
  width: 80%;
  max-width: 240px;
  height: 40px;
  padding-left: 10px;
}

.user-submit-guidelines {
  margin-bottom: 20px;
}

.copy-button {
  width: 20%;
  max-width: 60px;
}

.social-media-button-text {
  color: white;
  margin-right: 20px;
}

.share-info {
  width: 100%;
  max-width: 300px;
}
